#index {
  background-color: #182249;
}
#about_me {
  background-color: #182249;
}
.topnav {
  background-color:#538EC6;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #182249;
  text-align: center;
  padding: 30px 30px;
  font-size: 16px;
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav img{
  width: 16px;
  height: 16px;
}